.vs
/Binaries/
/DerivedDataCache/
/Intermediate/
/Saved/
*.sln
/Content/StarterContent/*
/Package/
/Build/
/Plugins/
/.idea/
/TeamProject.uproject.DotSettings.user/
/.vsconfig/
/Content/_GamePlay/UI/GameStartMapUI/IntroMovie/SplashTagMovie.mp4
/Content/Movies/SplashTagMovie.mp4
/Content/_GamePlay/Map/MainMap_BuiltData.uasset
/Content/_GamePlay/Map/GameStartMap_BuiltData.uasset